function FindProxyForURL(url, host)
{

  // https goes direct
  if (url.substring(0,6) == "https:")
	return "DIRECT";

  // only look up local names and check they are in net

  if (isInNet(host,"127.0.0.1","255.255.255.255") ||
		isInNet(host,"128.243.0.0","255.255.0.0") ||
		isInNet(host,"192.168.9.0","255.255.255.0")) 
  {
	return "DIRECT";
  }
  return "PROXY wwwcache.cs.nott.ac.uk:3128";
}
