<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>listLinks</servlet-name>
		<servlet-class>uk.ac.nott.mrl.homework.server.ListLinks</servlet-class>
		<!--<load-on-startup>0</load-on-startup> -->
	</servlet>

	<servlet>
		<servlet-name>permitDevice</servlet-name>
		<servlet-class>uk.ac.nott.mrl.homework.server.PermitDevice</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>denyDevice</servlet-name>
		<servlet-class>uk.ac.nott.mrl.homework.server.DenyDevice</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>setName</servlet-name>
		<servlet-class>uk.ac.nott.mrl.homework.server.SetName</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>log</servlet-name>
		<servlet-class>uk.ac.nott.mrl.homework.server.Log</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>setTrayMode</servlet-name>		
		<servlet-class>uk.ac.nott.mrl.homework.server.SetTrayMode</servlet-class>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/home/homenet/homeworkduino/res/role.cfg</param-value>
		</init-param>		
	</servlet>

	<servlet>
		<servlet-name>setTrayDevice</servlet-name>		
		<servlet-class>uk.ac.nott.mrl.homework.server.SetTrayDevice</servlet-class>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/home/homenet/homeworkduino/res/probe.cfg</param-value>
		</init-param>		
	</servlet>


	<servlet-mapping>
		<servlet-name>listLinks</servlet-name>
		<url-pattern>/device/links</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>permitDevice</servlet-name>
		<url-pattern>/device/permit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>denyDevice</servlet-name>
		<url-pattern>/device/deny</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>/device/log</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setName</servlet-name>
		<url-pattern>/device/setName</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setTrayMode</servlet-name>
		<url-pattern>/device/setTrayMode</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setTrayDevice</servlet-name>
		<url-pattern>/device/setTrayDevice</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>