.device {
	position: absolute;
	border: 3px solid #579;
	border-left: 0;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topright: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 5px #AAA;
}

.deviceAnim
{
	-webkit-transition: font-size 2s ease, opacity 2s ease, top 2s ease;
	-moz-transition: font-size 2s ease, opacity 2s ease, top 2s ease;
	-o-transition: font-size 2s ease, opacity 2s ease, top 2s ease;
	transition: font-size 2s ease, opacity 2s ease, top 2s ease;
}
