.device {
	position: absolute;
	border: 3px solid #579;
	background-color: #79B;	
	border-left: 0;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topright: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

.requestingDevice {
	position: absolute;
	border: 3px solid #579;
	background-color: #79B;	
	border-left: 0;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topright: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

.deniedDevice {
	position: absolute;
	border: 3px solid #A66;
	background-color: #B99;
	border-left: 0;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topright: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

.unlistedDevice {
	position: absolute;
	border: 3px solid #777;
	background-color: #999;
	border-left: 0;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-moz-border-radius-topright: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

.listDevice {
	border: 3px solid #777;
	background-color: #999;
	border-radius: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	margin: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
	float:left;
}

.dragDevice {
	position: absolute;
	background-color: #79B;	
	border: 3px solid #579;
	border-radius: 0.4em;
	padding: 3px;
	padding-right: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 5px #AAA;
	z-index: 100;
}

.deviceAnim
{
	-webkit-transition: top 4s ease;
	-moz-transition: top 4s ease;
	-o-transition: top 4s ease;
	transition: top 4s ease;
}

.popup {
	background-color: #F0E68C;
	border: 3px solid #F0E68C;
	max-width: 400px;
	border-radius: 0.5em;
	border-top-right-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 2px 2px 5px #AAA;
	-webkit-transition: visibility 1s ease, opacity 1s ease;
	-moz-transition: visibility 1s ease, opacity 1s ease;
	-o-transition: visibility 1s ease, opacity 1s ease;
	transition: visibility 1s ease, opacity 1s ease;
	z-index: 200;	
}

.signal {
	border-width: 5px;
	border-color: #246;
	border-left: 0;
}

.deviceName {
	cursor: pointer;
}

.warning {
	margin: 0;
	padding: 0;
	padding-left: 25px;
	background-image: url("/images/warning.png");
	background-repeat: no-repeat;
	background-position: 3px 0.2em;
}

.deviceLine {
	position: absolute;
	top: 0px;
	width: 5px;
	left: 20px;
	bottom: 0px;
	background-color: #579;
}

.detailPanel {
	font-size: 10px;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #79B;
	right: 0px;
	z-index: 10;
	width: 0px;
	border-left: 3px solid #579;
}

.devicePanel {
	min-height: 100%;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.popupLink {
	list-style: disc;
	display: list-item;
	margin-left: 20px;
}

.trayButton {
	position: relative;
	right: 0px;
	z-index: 10;
	border: 1px solid #999;
	background-color: #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 12px;
	padding: 3px;
	margin: 5px;
	text-align: center;
	width: 80px;
}

.zone {
	font-size: 18px;
	text-align: center;
	position: absolute;
	bottom: 3px;
	width: 100%;
	z-index: 30;
}


.zoneBar {
	position: relative;
	min-height: 100%;
	border-right: 1px solid #CCC;
	float: left;
}

.buttonPanel {
	position: relative;
	right: 0px;
	z-index: 10;
	border-bottom: 3px solid #579;
	border-left: 3px solid #579;
	background-color: #79B;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
}

.detailTitle {
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 5px;
	width: 180px;
}

.detailItem {
	padding-left: 10px;
	padding-top: 2px;
	width: 180px;
}

.trafficPanel {
	margin-top: 10px;
	width: 165px;
	padding: 5px;
	border: 2px solid #579;
	background-color: #BCD;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
